%nav.navbar.navbar-light.bg-light
  .container-fluid
    .navbar-brand
      = link_to root_path, class: "btn btn-default" do
        %i.fas.fa-graduation-cap{:class => "d-inline-block align-text-top"}
        Home
      = link_to privacy_policy_path, class: "btn btn-info" do
        %i.fas.fa-file-word
        Privacy Policy

.container.col-xl-10.col-xxl-8.px-4.py-5
  .row.align-items-center.g-5.py-5
    .col-lg-7.text-center.text-lg-start
      %i.fas.fa-graduation-cap
      %h1.display-4.fw-bold.lh-1.mb-3 Welcome to our learning portal
      %p.col-lg-10.fs-4
      Here you will find courses and learning modules to excite and ignite your imagination and challenge your mind.  Take some time and browse our extensive collection by topic or interest.  Sign up and start your exciting new journey
      %em now!
    .col-10.mx-auto.col-lg-5
      %form.p-5.border.rounded-3.bg-light
        .form-floating.mb-3
          %input#floatingInput.form-control{:placeholder => "name@example.com", :type => "email"}/
        .form-floating.mb-3
          %input#floatingPassword.form-control{:placeholder => "Password", :type => "password"}/
        .checkbox.mb-3
          %label
            %input{:type => "checkbox", :value => "remember-me"}/
            Remember me
        %button.w-100.btn.btn-lg.btn-primary{:type => "submit"} Sign up
        %hr.my-4/
        %small.text-muted By clicking Sign up, you agree to the terms of use.
