%h1 Our Privacy Policy
%p
As this website is the result of a tutorial I am following, I do hereby confirm that I have
%strong no
knowledge of privacy governance or the mechanics of drafting and publishing a real (and legally binding) Privacy Policy.  I thus caution you to NOT submit any personal information as I have zero intention of maintaining this site to remove any potentially harmful data; including your name, email address, mobile telephone number etc.
%p
If you
%strong do
submit personal details then you are a numpty and may be visited by a plague of NZ west coast sandflies for the rest of your life.
%p
  Hint: that would be
  %em bad.
